.copy_rights{
    padding: 67px 187px;
    .outline{
        color: #DDDDDD;
    }

    .last_word{
        text-align: center;
        padding-top: 23px;
        font-weight: 400;
        font-size: 15px;
        color: #888888;
    }
}